form {
  margin-bottom: 1em;
}
.nav {
  background-color: rgb(63, 62, 62);
  color: white;
  padding: 1em;
}
.list-group-item:hover {
  background-color: #17a2b8;
  color: white;
}
.uv-low {
  color: white;
  background-color: green;
  border-color: green;
}
.uv-moderate {
  color: white;
  background-color: gold;
  border-color: gold;
}
.uv-high {
  color: white;
  background-color: rgb(255, 102, 0);
  border-color: rgb(255, 102, 0);
}
.uv-very-high {
  color: white;
  background-color: red;
  border-color: red;
}
.uv-extreme {
  color: white;
  background-color: purple;
  border-color: purple;
}
#forecast-card {
  margin-bottom: 3em;
}
